<h1 class="question">Capital of Colorado?</h1>
<h2 class="result"></h2>

<div class="answers">
  <form>
    <div>
      <input class="no-show" type='text' id='first-answer' value='Denver'>
      <br>
      <input class="btn btn-default" type='submit' value='Denver'>
    </div>
    <div>
      <input class="no-show" type='text' id='second-answer' value='Aurora'>
      <br>
      <input class="btn btn-default" type='submit' value='Aurora'>
    </div>
    <div>
      <input class="no-show" type='text' id='third-answer' value='Boulder'>
      <br>
      <input class="btn btn-default" type='submit' value='Boulder'>
    </div>
  </form>

</div>
<div id='answer-form'></div>







<div class="container">
  <h1>Quizzes</h1>
  <% @quizzes.each do |quiz| %>
    <li><%= link_to quiz.name, quiz %></li>
  <% end %>
</div>
