<h1 class="question">Capital of Colorado?</h1>
<h2 class="result"></h2>

<div class="answers">
  <form id='form-first-answer'>
    <div>
      <input class="no-show" type='text' id='first-answer' value='Denver'>
      <br>
      <input class="btn btn-default" type='submit' value='Denver'>
    </div>
    </form>
  <form id='form-second-answer'>
    <div>
      <input class="no-show" type='text' id='second-answer' value='Aurora'>
      <br>
      <input class="btn btn-default" type='submit' value='Aurora'>
    </div>
  </form>
  <form id='form-third-answer'>
    <div>
      <input class="no-show" type='text' id='third-answer' value='Boulder'>
      <br>
      <input class="btn btn-default" type='submit' value='Boulder'>
    </div>
  </form>

    <!--Denver:<input type='checkbox' name='first-answer' value='Denver'><br>-->
    <!--Aurora:<input type='checkbox' name='second-answer' value='Aurora'><br>-->
    <!--Boulder:<input type='checkbox' name='third-answer' value='Boulder'><br>-->
    <!--<input class="btn btn-default" type='submit' value='Submit'>-->




</div>


You Answered:
<div id='answer-form'></div>







<div class="container">
  <h1>Quizzes</h1>
  <% @quizzes.each do |quiz| %>
    <li><%= link_to quiz.name, quiz %></li>
  <% end %>
</div>
